form(method="post" action="/login")
    table 
        tr
            td Username 
            td 
                input(type="text" class="form-control mt-2 ml-1" name="username" required)
        tr 
            td Password 
            td 
                input(type="password" class="form-control mt-2 ml-1" name="password" required)
        tr 
            td
            td
                input(type="submit" class="btn btn-primary mt-2 ml-1 mb-3 btn-block" value="Login")